.d3-chart-component {
  width: 100%;
  min-width: 100px;
  min-height: 250px;
  display: block;
}

.d3-mini-chart {
  height: 200px;
  width: 250px;
}

.d3-mini-chart .d3-chart-component {
  min-width: unset !important;
  min-height: unset !important;
  height: 100% !important;
}

.d3-chart-component svg {
  height: 100%;
  width: 100%;
}

.d3-color:nth-child(1) {
  color: #5194E3;
}

.d3-color:nth-child(2) {
  color: #6BA751
}

.d3-color:nth-child(3) {
  color: #D1BA49;
}

.d3-color:nth-child(4) {
  color: #7986CB;
}

.d3-color:nth-child(5) {
  color: #499EC8;
}

.d3-color:nth-child(6) {
  color: #8DAD4E;
}

.d3-color:nth-child(7) {
  color: #54A1A0;
}

.d3-color:nth-child(8) {
  color: #AFB44C;
}

.d3-color:nth-child(9) {
  color: #658DD7;
}

.d3-color:nth-child(10) {
  color: #154989;
}

.d3-chart-component .line path {
  transition: stroke-width .25s linear;
  -moz-transition: stroke-width .25s linear;
  -webkit-transition: stroke-width .25s linear;
  transition-delay: .25s;
  -moz-transition-delay: .25s;
  -webkit-transition-delay: .25s;
}
.d3-chart-component .data-group.hover .line.main path {
  stroke-width: 4px;
}
.d3-chart-component .data-group.hover .line.main circle {
  r: 5;
}

g.axis.left g.tick:hover {
  cursor: pointer;
}

.d3-chart-component .line.ucl path,
.d3-chart-component .line.lcl path {
  transition: stroke-width .25s linear;
  -moz-transition: stroke-width .25s linear;
  -webkit-transition: stroke-width .25s linear;
  transition-delay: .25s;
  -moz-transition-delay: .25s;
  -webkit-transition-delay: .25s;
}

.d3-chart-component .line .point {
  transition: stroke-width .25s linear;
  -moz-transition: stroke-width .25s linear;
  -webkit-transition: stroke-width .25s linear;
}

.d3-chart-component .line .point.hover,
.d3-chart-component .line .point.signal,
.d3-chart-component .line .point.filter,
.d3-chart-component .line .point.selected {
  stroke-width: 3px;
  stroke-opacity: 1;
  r: 5;
  // fill: none;
}
.d3-chart-component .line .point.signal,
.d3-chart-component .line .point.hover.signal {
  stroke: #d50000;
  fill: #d50000;
}
.d3-chart-component .barsWrap .bar.filter,
.d3-chart-component .line .point.filter {
  stroke: orange;
  fill: orange;
}
.d3-chart-component .line .point.ghost {
  fill: none !important;
}

.d3-chart-component .voronoi path {
  pointer-events: all;
}

.d3-chart-component .voronoi--show path {
  fill: none;
  stroke: red;
}

.d3-chart-component text.lineLabel,
.d3-chart-component text.focus-note-text1 {
  font-size: 12px;
  stroke-width: .1;
}

/**********
*  Legend
*/
.d3-chart-component .legendWrap .series {
  cursor: pointer;
}
.d3-chart-component .legendWrap circle {
  stroke-width: 2px;
}
.d3-chart-component .legendWrap .disabled circle {
  fill-opacity: 0;
}

.d3-chart-component g.data-group.hover {
  border: red 1px solid;
}

/***********
* Annotations
*/
.d3-chart-component .annotation {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  cursor: move;
  white-space: nowrap;
  padding: 2px 5px;
  line-height: 18px;
  margin-top: -12px;
  margin-left: -12px;
}

.d3-chart-component .annotation:hover {
  border: 1px solid #777;
}

.d3-chart-component .annotation .material-icons {
  display: none;
  line-height: 14px;
}

.d3-chart-component .annotation:hover .material-icons {
  display: inline-block;
}

.d3-chart-component .annotation-text {
  display: inline-block;
  padding: 2px 5px;
  white-space: nowrap;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.d3-chart-component .annotation-edit,
.d3-chart-component .annotation-delete {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: 3px;
  margin: -1px 3px;  
}

rect.focus-note-rect {
  fill: #ffffff;
  fill-opacity: 0.8;
}

.d3-chart-component svg line.track-overlay {
  stroke: #ccc;
  stroke-width: 40px;
  stroke-opacity: 0;
  cursor: pointer;
}

/************
* Pie
*/
.d3-chart-component g.arc.hover text {
  opacity: 1 !important;
}

/************
* Mini plots
*/
.class-no-bottom-axis-marks path.domain,
.class-no-bottom-axis-marks g.tick line {
  display: none;
}

.barfade.hover {
  opacity: .2;
  cursor: pointer;
}

.left-shade {
  fill: #fff;
  opacity: .5;
}

.right-shade {
  fill: #000;
  opacity: .5;
}