<div #chart class="d3-chart-component" style="position:relative;">
  <div *ngIf="data" class="annotationWrap" [ngStyle]="getNoteWrapOffset()">
    <div *ngFor="let group of data.groups; let g = index;">
      <div *ngIf="!group.disabled && !miniChart">
        <mat-card *ngFor="let note of group.notes; let n = index;"
          [ngStyle]="getNoteStyle(g, n, group, note)"
          class="{{ 'group_' + g + '_note_' + n }}"
          (mousedown)="noteMouseDown($event, g, note)"
          class="annotation annotation-text">
          <span style="display: inline-block;">
            <span *ngIf="note.title">{{note.title}}</span>
            <br *ngIf="note.title && note.showPointData" />
            <span *ngIf="note.showPointData">{{note.point[0] + ': ' + formatForDisplay(note.point[1], data.decimals)}}</span>
          </span>
          <i class="material-icons annotation-edit" (click)="noteClicked($event, g, note)"
            [ngStyle]="getFocusIconStyle(note)"
            title="Edit Annotation">more_vert</i>
          <i class="material-icons annotation-delete" (click)="noteDeleted($event, g, note)"
            [ngStyle]="getFocusIconStyle(note)"
            title="Delete Annotation">delete</i>
        </mat-card>
      </div>
    </div>
    <div *ngFor="let scale of data.scales; let s = index;">
      <div *ngIf="scale.thresholds && scale.thresholds.length > 0 && !miniChart">
        <mat-card *ngFor="let threshold of scale.thresholds; let t = index;"
          [ngStyle]="getThresholdStyle(s, t, scale, threshold)"
          class="{{ 'scale_' + s + '_threshold_' + t }}"
          (mousedown)="thresholdMouseDown($event, s, threshold, t)"
          class="annotation annotation-text">
          <span *ngIf="threshold.label">{{threshold.label}} ({{formatForDisplay(threshold.value, data.decimals)}})</span>
          <span *ngIf="!threshold.label">{{formatForDisplay(threshold.value, data.decimals)}}</span>          
          <i class="material-icons annotation-edit" (click)="thresholdClicked($event, s, t, threshold)"
            title="Edit Threshold">more_vert</i>
          <i class="material-icons annotation-delete" (click)="thresholdDeleted($event, s, t, threshold)"
            title="Delete threshold">delete</i>
        </mat-card>
      </div>
    </div>
  </div>
</div>
