<h1>{{chartType}}</h1>
<mat-card class="d3-chart-card">
  <div *ngFor="let chartDataSingle of chartData;" style="width: 100px; height: 300px; float: left;">
    <app-chart
      class="class-no-bottom-axis-marks"
      [data]="chartDataSingle"
      [miniChart]="false"
      [lockAspect]="false"
      (pointClick)="pointClicked($event)"
      (barClick)="barClicked($event)"
      (boxClick)="boxClicked($event)"
      (legendClick)="legendClicked($event)"
      (axisClick)="axisClicked($event)"
      (noteClick)="noteClicked($event)"
      (noteMove)="noteMoved($event)"
      (updateSliderX)="dragUpdatedX($event)">
    </app-chart>
  </div>
</mat-card>
<mat-checkbox [checked]="useAlternateData"
  (change)="switchChartData()">Use Alternate Data</mat-checkbox>
<br />
<mat-checkbox [checked]="miniChart"
  (change)="miniChart = !miniChart">Mini Chart</mat-checkbox>
