<h1>{{chartType}}</h1>
<mat-card class="d3-chart-card" [ngClass]="{'d3-mini-chart': miniChart}">
  <app-chart [data]="chartData"
    [miniChart]="miniChart"
    [lockAspect]="!miniChart"
    (pointClick)="pointClicked($event)"
    (barClick)="barClicked($event)"
    (boxClick)="boxClicked($event)"
    (legendClick)="legendClicked($event)"
    (axisClick)="axisClicked($event)"
    (noteClick)="noteClicked($event)"
    (noteMove)="noteMoved($event)"
    (updateSliderX)="dragUpdatedX($event)">
  </app-chart>
</mat-card>
<mat-checkbox [checked]="useAlternateData"
  (change)="switchChartData()">Use Alternate Data</mat-checkbox>
<br />
<mat-checkbox [checked]="miniChart"
  (change)="miniChart = !miniChart">Mini Chart</mat-checkbox>
