<mat-sidenav-container class="app-layout">
  <mat-sidenav class="app-drawer" mode="side" opened="true">
    <header class="app-drawer-header">
      <div class="app-header-logo">
          <span class="app-name">D3 Playground</span>
      </div>
    </header>
    <nav class="app-navigation">

      <form name="chartSelectionForm">
        <mat-list>
          <mat-list-item><a routerLink="/example/Scales">Scales</a></mat-list-item>
          <mat-list-item><a routerLink="/example/Line">Line</a></mat-list-item>
          <mat-list-item><a routerLink="/example/LogLine">Log Line</a></mat-list-item>
          <mat-list-item><a routerLink="/example/Bar">Bar</a></mat-list-item>
          <mat-list-item><a routerLink="/example/Pareto">Pareto</a></mat-list-item>
          <mat-list-item><a routerLink="/example/LongLabels">Long Labels</a></mat-list-item>
          <mat-list-item><a routerLink="/example/BoxAndWhisker">Box and Whisker</a></mat-list-item>
          <mat-list-item><a routerLink="/example/Complex">Complex</a></mat-list-item>
          <mat-list-item><a routerLink="/example/Split Scales">Split Scales</a></mat-list-item>
          <mat-list-item><a routerLink="/example/PieChart">Pie Chart</a></mat-list-item>
          <mat-list-item><a routerLink="/example/Pivot">Pivot</a></mat-list-item>
          <mat-list-item><a routerLink="/example/PivotSigma">Pivot Sigma</a></mat-list-item>
          <mat-list-item><a routerLink="/example/BellCurves">Bell Curves</a></mat-list-item>
          <mat-list-item><a routerLink="/horizontal/Mini Plots">Mini Plots</a></mat-list-item>
          <mat-list-item><a routerLink="/time/Time Pivot">Time Pivot</a></mat-list-item>
        </mat-list>
      </form>
    </nav>
  </mat-sidenav>
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
