@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/chart/chart.component.scss";

body {
  margin: 0;
  padding: 0;
}

app-root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.d3-chart-card.mat-card {
  overflow-x: auto;
  padding: 15px;
}
